<h1> All the Cocktails </h1>

<% @cocktails.each do |cocktail| %>
  <p> <%= link_to cocktail.name, cocktail_path(cocktail) %> </p>
<% end %>




<p> <%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn-primary" %> </p>
